.app {
  font-family: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, Roboto,
    'Helvetica Neue', sans-serif;
  margin: -8px;
}

:root {
  --white: #ffffff;
  --blue: #1d5ab9;
  --red: #aa0000;
}

.appBar {
  height: 64px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  background-color: #1d5ab9;
}

.breadCrumbs {
  background-color: #3a4454;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
}

.divider {
  border: 1px solid rgba(214, 223, 232, 0.6);
  height: 18px;
  margin: 0px 15px 0px 5px;
}

.crumbs {
  margin: 10px;
  flex-grow: 2;
  font-size: 14px;
  cursor: pointer;
}

.team {
  background-color: var(--white);
  border-color: var(--white);
  color: var(--blue);
  display: flex;
  padding: 4px 10px;
  justify-content: center;
  border-radius: 25px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 600;
  margin: 0 15px 0 0;
}

.notCrumbs {
  height: 100%;
  display: flex;
  margin-right: 0px !important;
}

.teamCrumbs {
  height: 100%;
  display: flex;
  margin-right: 0px !important;
}